@import 'vars';

.channel-item-form {
  padding: @tm-padding 0;

  .input-sm {
    margin: 0 @tm-margin-sm;
  }
}

.channels-list-container {
  .alert {
    margin-bottom: 0;
  }
}

.channel-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .channel-item {
    height: @tm-line-height;
    padding: @tm-padding-xs;
  }
}

.alpha-appear {
  opacity: 0.01;
  transition: opacity @tm-anim-alpha ease-in-out;

  &.alpha-appear-active {
    opacity: 1;
  }
}

.alpha-enter {
  opacity: 0.01;
  transition: opacity @tm-anim-alpha ease-in-out;

  &.alpha-enter-active {
    opacity: 1;
  }
}