@import 'vars';
@import 'material-color/material-color-prefixed';

// Transition Group Animations
.alpha-appear {
  opacity: 0.01;
  transition: opacity @tm-anim-alpha ease-in-out;

  &.alpha-appear-active {
    opacity: 1;
  }
}

.alpha-enter {
  opacity: 0.01;
  transition: opacity @tm-anim-alpha ease-in-out;

  &.alpha-enter-active {
    opacity: 1;
  }
}

.alpha-leave {
  opacity: 1;
  transition: opacity @tm-anim-alpha ease-in-out;

  &.alpha-leave-active {
    opacity: 0.01;
  }
}

.channel-item-form {
  padding: @tm-padding 0;

  .input-sm {
    margin: 0 @tm-margin-sm;
  }
}

.channels-list-container {
  .alert {
    margin-bottom: 0;
  }
}

.channels-stats {
  margin: @tm-margin 0;
}

.channels-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .channel-item {
    padding: @tm-padding-xs;

    .channel-content {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .channel-picture {
        position: relative;
        flex: 0 0 auto;
      }

      .channel-badge {
        background-color: @md-clr-red;
        color: #ffffff;
        font-size: 0.8em;
        left: @tm-margin-xs;
        padding: 0 @tm-padding-xs;
        position: absolute;
        top: @tm-margin-xs;
      }

      .channel-logo {
        width: @tm-avatar-size;
        height: @tm-avatar-size;
      }

      .channel-info {
        flex: 1 1 auto;
        margin: 0 @tm-margin;

        .title {
          font-size: 1.4em;
          line-height: 1.4em;
          padding: 0;
          margin: 0;
        }
        .status {
          color: @md-clr-grey-500;
          width: 100%;
          margin: 0;
          padding: 0;
        }
      }

      .channel-prefix {
        color: @md-clr-grey-500;
      }

      .channel-stats {
        flex: 0 0 auto;

        .stat + .stat {
          margin-left: @tm-margin;
        }
      }

      .channel-controls {
        flex: 0 0 auto;
        transition: opacity @tm-anim-alpha ease-in-out;
        opacity: 0;
      }

      .alpha-appear {
        opacity: 1;
      }
    }
  }
}

.client-id-form {
  display: flex;
  flex-flow: row nowrap;

  &__controls {
    align-self: center;
    flex: 0 0 auto;
    padding-left: @tm-padding-s;

    button + button {
      margin-left: @tm-padding-xs;
    }
  }

  &__input {
    flex: 1 0 auto;
  }
}

.twitch-monitor-acp {
  .tab-content {
    margin-top: @tm-margin-l;
  }
}
