@tm-base: 8px;

@tm-padding-xs: @tm-base / 2;
@tm-padding-s: @tm-base;
@tm-padding-sm: @tm-base;
@tm-padding: @tm-base * 2;

@tm-margin-xs: @tm-base / 2;
@tm-margin-sm: @tm-base;
@tm-margin: @tm-base * 2;
@tm-margin-l: @tm-base * 3;

@tm-avatar-size: @tm-base * 11;
@tm-line-height: @tm-base * 8;
@tm-touch-line-height: @tm-base * 6;

@tm-anim-alpha: 0.2s;