.channel-item-form {
  padding: 16px 0;
}
.channel-item-form .input-sm {
  margin: 0 8px;
}
.alpha-appear {
  opacity: 0.01;
  transition: opacity 0.2s ease-in-out;
}
.alpha-appear.alpha-appear-active {
  opacity: 1;
}
.alpha-enter {
  opacity: 0.01;
  transition: opacity 0.2s ease-in-out;
}
.alpha-enter.alpha-enter-active {
  opacity: 1;
}
