.channel-item-form {
  padding: 16px 0;
}
.channel-item-form .input-sm {
  margin: 0 8px;
}
.channels-list-container .alert {
  margin-bottom: 0;
}
.channels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.channels-list .channel-item {
  height: 64px;
  padding: 4px;
}
.channels-list .channel-item .channel-content {
  display: flex;
  height: 100%;
}
.channels-list .channel-item .channel-content .channel-logo {
  width: 56px;
  flex: 0 0 auto;
  height: auto;
}
.channels-list .channel-item .channel-content .channel-info {
  width: 100%;
  padding: 0 16px;
}
.channels-list .channel-item .channel-content .channel-info .title {
  margin: 0;
}
.channels-list .channel-item .channel-content .channel-info .status {
  margin: 0;
}
.channels-list .channel-item .channel-content .channel-stats {
  flex: 1 0 auto;
  align-self: center;
}
.channels-list .channel-item .channel-content .channel-stats .stat + .stat {
  margin-left: 16px;
}
.channels-list .channel-item .channel-content .channel-controls {
  flex: 1 0 auto;
  align-self: center;
  margin-left: 16px;
}
.channels-list .channel-item .channel-content .channel-controls .control-delete {
  cursor: pointer;
  color: #f44336;
}
.alpha-appear {
  opacity: 0.01;
  transition: opacity 0.2s ease-in-out;
}
.alpha-appear.alpha-appear-active {
  opacity: 1;
}
.alpha-enter {
  opacity: 0.01;
  transition: opacity 0.2s ease-in-out;
}
.alpha-enter.alpha-enter-active {
  opacity: 1;
}
