.alpha-appear {
  opacity: 0.01;
  transition: opacity 0.2s ease-in-out;
}
.alpha-appear.alpha-appear-active {
  opacity: 1;
}
.alpha-enter {
  opacity: 0.01;
  transition: opacity 0.2s ease-in-out;
}
.alpha-enter.alpha-enter-active {
  opacity: 1;
}
.alpha-leave {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.alpha-leave.alpha-leave-active {
  opacity: 0.01;
}
.channel-item-form {
  padding: 16px 0;
}
.channel-item-form .input-sm {
  margin: 0 8px;
}
.channels-list-container .alert {
  margin-bottom: 0;
}
.channels-stats {
  margin: 16px 0;
}
.channels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.channels-list .channel-item {
  padding: 4px;
}
.channels-list .channel-item .channel-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.channels-list .channel-item .channel-content .channel-picture {
  position: relative;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.channels-list .channel-item .channel-content .channel-badge {
  background-color: #f44336;
  color: #ffffff;
  font-size: 0.8em;
  left: 4px;
  padding: 0 4px;
  position: absolute;
  top: 4px;
}
.channels-list .channel-item .channel-content .channel-logo {
  width: 88px;
  height: 88px;
}
.channels-list .channel-item .channel-content .channel-info {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 16px;
}
.channels-list .channel-item .channel-content .channel-info .title {
  font-size: 1.4em;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
}
.channels-list .channel-item .channel-content .channel-info .status {
  color: #9e9e9e;
  width: 100%;
  margin: 0;
  padding: 0;
}
.channels-list .channel-item .channel-content .channel-prefix {
  color: #9e9e9e;
}
.channels-list .channel-item .channel-content .channel-stats {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.channels-list .channel-item .channel-content .channel-stats .stat + .stat {
  margin-left: 16px;
}
.channels-list .channel-item .channel-content .channel-controls {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.channels-list .channel-item .channel-content .alpha-appear {
  opacity: 1;
}
.twitch-monitor-acp .tab-content {
  margin-top: 24px;
}
