.channel-item-form {
  padding: 16px 0;
}
.channel-item-form .input-sm {
  margin: 0 8px;
}
.channels-list-container .alert {
  margin-bottom: 0;
}
.channels-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.channels-list .channel-item {
  height: 64px;
  padding: 4px;
}
.channels-list .channel-item .channel-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.channels-list .channel-item .channel-content .channel-logo {
  width: 56px;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: auto;
}
.channels-list .channel-item .channel-content .channel-info {
  width: 100%;
  padding: 0 16px;
}
.channels-list .channel-item .channel-content .channel-info .title {
  margin: 0;
}
.channels-list .channel-item .channel-content .channel-info .status {
  margin: 0;
}
.channels-list .channel-item .channel-content .channel-stats {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-item-align: center;
          -webkit-align-self: center;
          align-self: center;
  margin-left: 16px;
}
.channels-list .channel-item .channel-content .channel-stats .stat + .stat {
  margin-left: 16px;
}
.channels-list .channel-item .channel-content .channel-status {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-item-align: center;
          -webkit-align-self: center;
          align-self: center;
  margin: 0 16px;
}
.channels-list .channel-item .channel-content .channel-status .fa {
  color: #eeeeee;
}
.channels-list .channel-item .channel-content .channel-status .fa.online {
  color: #f44336;
  -webkit-animation: fade 1s ease-in-out infinite alternate;
  animation: fade 1s ease-in-out infinite alternate;
}
.channels-list .channel-item .channel-content .channel-controls {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -ms-flex-item-align: center;
          -webkit-align-self: center;
          align-self: center;
}
.channels-list .channel-item .channel-content .channel-controls .control-delete {
  cursor: pointer;
  color: #f44336;
}
.alpha-appear {
  opacity: 0.01;
  transition: opacity 0.2s ease-in-out;
}
.alpha-appear.alpha-appear-active {
  opacity: 1;
}
.alpha-enter {
  opacity: 0.01;
  transition: opacity 0.2s ease-in-out;
}
.alpha-enter.alpha-enter-active {
  opacity: 1;
}
.alpha-leave {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.alpha-leave.alpha-leave-active {
  opacity: 0.01;
}
@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}
